<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="uiTest">
        <classes>
            <class name="googleFormTest.GoogleFormTest"/>
            <class name="googleFormTest.GoogleFormTestWithDataProvider"/>

        </classes>
    </test>
</suite>